/* Barra Lateral */
.sidebar {
    width: 250px;
    /* ou use classes de Bootstrap como col-md-3 ou col-lg-2 */
    position: fixed;
    /* Mantém fixo no layout */
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #fff;
    /* Cor de fundo */
    border-right: 1px solid #dbdbdb;
    /* Linha divisória */
}

.feed {
    margin-left: 250px;
    /* Ajuste conforme a largura da barra lateral */
    flex-grow: 1;
    padding: 20px;
    background-color: #f9f9f9;
    /* Cor de fundo */
}


/* Pop-up ajuste para centralizar corretamente */

.nav-link {
    width: 100%;
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin: 5px 0;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: start;
}

.nav-link:hover,
.nav-link:focus {
    background-color: #e1e1e1;
    border-radius: 5px;
}

.logo img {
    width: 200px;
    margin: 20px 0;
}

.nav-link .fa-icon {
    margin-right: 10px;
    font-size: 20px;
}

.feed {
    padding: 40px;
    background-color: #f9f9f9;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.nav-item:last-child {
    margin-top: auto;
    /* Coloca automaticamente no final da barra lateral */
}

.popup {
    position: fixed;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: 80%;
    /* Ajuste a largura conforme necessário */
    max-width: 1200px;
    min-height: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.555);
    z-index: 1050;
    display: flex;
    flex-direction: column;
}

.close-btn {
    text-align: right;
    width: auto;
    height: auto;
    font-size: 32px;
    cursor: pointer;
    background-color: #fff;
}

.close-btn:hover {
    color: #f00;
    /* Cor quando hover, ajuste conforme necessário */
}

button.close-btn {
    margin: 0 !important;
    padding: 0 !important;
}


.search-input {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.search-results {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    max-height: 200px;
    /* Limitar a altura dos resultados */
}

.search-result-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #f0f0f0;
}

.button-container {
    display: flex;
    justify-content: end;
}

.profile-pic {
    width: '40px';
    height: '40px';
    border-radius: '50%';
    margin-right: '10px';
    object-fit: cover;

}

.searchLink {
    text-decoration: none;
    color: #333;
}
